*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
* > p {
	font-size: 1.2rem;
	user-select: none;
}
body {
	background: rgb(25, 25, 25);
	width: 100%;
	height: 100vh;
}
#game-canvas {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 640px;
	aspect-ratio: 1/1;

	box-shadow: 0 0 1rem grey;
	background: rgb(230, 196, 125);
	transform: translate(-50%, -50%);
	touch-action: none;
}
#controls-container {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 640px;
	aspect-ratio: 1/1;
	background: none;

	transform: translate(-50%, -50%);
	pointer-events: none;
	touch-action: none;
}
#controls-container > * {
	pointer-events: all;
}
#control-panel {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0 1.25rem;
	background: rgba(41, 16, 0, 0.8);
	height: 5rem;
	color: rgb(230, 196, 125);
}
#moves-panel,
#levels-panel {
	display: flex;
	gap: 0.625rem;
}
#moves-text,
#levels-text {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	white-space: nowrap;
}
/* level selection */
#load-level {
	position: absolute;
	padding: 0.5rem 1rem;
	top: 2rem;
	right: 0.5rem;

	appearance: none;
	border: none;
	border-radius: 0.25rem;
	font-size: 1rem;
	color: rgb(230, 196, 125);
	background-color: rgba(41, 16, 0, 0.8);
	user-select: none;
	touch-action: none;
}
#load-level:focus {
	outline: none;
}
#load-level > option {
	margin: 0;
	padding: 0;
}
/* buttons */
.btn {
	display: inline-block;
	padding: 0.75rem 1.5rem;
	border: none;
	border-radius: 2rem;
	font-size: 1.2rem;
	font-weight: 550;
	color: rgb(41, 16, 0);
	background-color: rgb(230, 196, 125);
	box-shadow: 0 0 1rem rgb(25, 25, 25, 0.5);
	user-select: none;
	cursor: pointer;
}
@media (hover: hover) and (pointer: fine) {
	.btn:enabled:hover {
		background-color: white;
	}
}
.btn:disabled {
	opacity: 0.5;
}
/* win headings */
h3 {
	display: none;
	position: absolute;
	top: calc(50% - 5rem);
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 3.5rem;
	color: white;
	white-space: nowrap;
	user-select: none;
}
@media (max-width: 640px) {
	* {
		font-size: 2.5vw;
	}
	#game-canvas,
	#controls-container {
		width: 100%;
	}
}
